._d/
._ncdi/
*.annot
*.cmo
*.o
*.cma
*.cmx
*.cmi
*.swp
*.opt
test_schema_generate
/tests/ormtest
/tests/ormtest.ml
/tests/ormtest.mli
/tests/foreign.ml
/tests/foreign.mli
/tests/foreign_normal.*
/tests/ormtest_normal.*
sql_orm.a
sql_orm.cmxa
test.db
sql_orm_header.ml
doc/
tests/*.db
