._d/
._bcdi/
._ncdi/
*.annot
*.cmo
*.so
*.o
*.cma
*.cmx
*.cmi
*.swp
*.opt
*.a
*.cmxa
*.db
doc/
c_*.ml
pc_*.ml
pi_*.ml
*_debug.ml
*_debug.mli
*.dot
lib_test/run_test
lib/p4_hash.ml
lib/p4_hash.mli
/Makefile.config
run_test
